ion-content {
    --padding-bottom: 80px;
}

.content-full-page {
    max-width: 680px;
    margin: auto;
}

.global-titles {
    font-size: 35px;
    font-weight: 700;
}

.margin-auto {
    margin: auto;
}